{% extends 'main/base.html' %}

{% block content %}
    <div style="margin: 0 auto;width: 80%;font-size: 15px">
        {% for a in articles %}
            <div class="index">
                <br>
                <span>作者：<a href="">{{ a.get_user }}</a>&nbsp;</span>
                <span class="date">{{ a.date }}</span>
                <a href="{% url 'newfilm:article' a.id%}">{{ a.title }}</a>
            </div>

        {% endfor %}
            <hr>
        {% for a in artitles %}
            <div class="index">
                <br>
                <span>作者：<a href="">{{ a.get_user }}</a>&nbsp;</span>
                <span class="date">{{ a.date }}</span>
                <a href="{% url 'newfilm:article' a.id%}">{{ a.title }}</a>
            </div>

        {% endfor %}
        <hr>

        {% for page in pages %}
        <a href="/search/?page={{forloop.counter}}" style="font-size: 25px">&nbsp;{{ forloop.counter }}</a>
        {% endfor %}
    </div>




{% endblock %}