{% extends 'main/base.html' %}
{% load static %}

{% block title %}
登录
{% endblock %}

{% block content %}
    <br>
<div class="login" style="margin: 5% auto;width: 310px">
    <div style="font-size: 25px; font-weight: bold;text-align: center;">
        用户登录
    </div>
    <form role="form" action="/login/" method="POST" novalidate="NOVALIDATE">{% csrf_token %}

        <div class="form-group">
            <label for="username">用户名</label>
            {{ form.username }}  <span style="color: red">{{ form.username.errors }}</span>

        </div>

        <div class="form-group">
            <label for="password">密码</label>
            {{ form.pwd }}<span style="color: red">{{ form.pwd.errors.0 }}</span>
        </div>


        <input type="submit" class="btn btn-default" value="登录"/>
    <span>没有账号？<a href="{% url 'newfilm:user_register' %}">直接注册</a></span>
        <br>

    </form>


</div>
    <br>
{% endblock %}

